/* why-choose */
.why-choose {
  background-color: var(--gray-light-color);
}

.why-choose-title,
.why-choose-list-item {
  text-align: center;
}

.why-choose-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0em;
}

.why-choose-item-text {
  line-height: 1.69;
  letter-spacing: 0.01em;
}

/* product-function */
.product-function-title {
  text-align: center;
}

.item-step-number {
  font-weight: 500;
  font-size: 20px;
}

.product-function .list-item-text {
  line-height: 1.75;
}

/* offers-await */
.offers-await-title,
.offers-await-item {
  text-align: center;
}

.offers-await-category {
  font-size: 24px;
  line-height: 1.17;
}

.category-sublist-item {
  font-size: 18px;
  line-height: 1.78;
}

.offers-await-link {
  line-height: 1.75;
}

.offers-await-category,
.offers-await-link {
  font-weight: 500;
  color: #000;
}

/* promo */
.promo-btn {
  color: var(--primary-color);
}
