/* base */
.page-title,
.section-title {
  font-weight: 600;
  font-size: 24px;
}

.page-title,
.page-subtitle,
.section-title-bg,
.section-subtitle-bg,
.section-desc {
  text-align: center;
}

/* price */
.price {
  padding: 50px 0 100px;
}

.price-title {
  margin: 0 auto 30px;
}

.price-text-wrap {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.price-desc {
  font-weight: 500;
}

.price-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.price-card {
  padding: 24px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  font-family: var(--secondary-font);
}

.price-card-title {
  margin-bottom: 8px;
  line-height: 1.66;
}

.price-card-desc {
  margin-bottom: 16px;
}

.price-card-sum-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.price-card-sum {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.price-card-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price-card-currency {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.price-card-period {
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: var(--light-accent-secondary-color);
}

.price-card-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 38px;
}

.price-card-benefit {
  font-family: var(--tertiary-font);
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.price-btn {
  min-width: 139px;
  height: 44px;
  border-radius: 8px;
}

.price-card-sum,
.price-card-currency,
.price-card-period {
  transition: color var(--transition-base);
}

.price-card,
.price-btn {
  transition: background-color var(--transition-base),
    color var(--transition-base);
}

.price-card:hover {
  color: var(--white-primary-color);
  background-color: var(--accent-color);
}

.price-card:hover .price-card-sum,
.price-card:hover .price-card-currency {
  color: var(--white-primary-color);
}

.price-card:hover .price-card-period {
  color: var(--light-accent-primary-color);
}

.price-card:hover .price-btn {
  color: var(--accent-color);
  background-color: var(--white-primary-color);
}

@media screen and (min-width: 991px) {
  .price {
    padding: 50px 0 150px;
  }

  .price-title {
    margin: 0 auto 24px;
  }

  .price-text-wrap {
    margin-bottom: 49px;
    gap: 24px;
  }

  .price-cards {
    flex-direction: row;
    gap: 71px;
  }

  .price-card {
    width: calc((100% - 2 * 71px) / 3);
  }
}

@media screen and (max-width: 991px) {
  .price-card {
    max-width: 322px;
    width: 100%;
  }
}

/* enterprise */

.enterprise {
  padding: 47px 0 46px;
  background-image: linear-gradient(
    180deg,
    #f6f6f6 0%,
    rgba(246, 246, 246, 0) 100%
  );
}

.enterprise-title {
  margin-bottom: 24px;
}

.enterprise-text-wrap {
  margin: 0 auto 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 335px;
}

.enterprise-desc {
  font-size: 18px;
}

.enterprise-btn {
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  transition: background-color var(--transition-base);
}

.enterprise-btn:focus,
.enterprise-btn:hover {
  background-color: var(--btn-hover-color);
}

@media screen and (min-width: 991px) {
  .enterprise {
    padding: 53px 0 51px;
  }

  .enterprise-title {
    margin-bottom: 16px;
  }

  .enterprise-text-wrap {
    max-width: 802px;
    gap: 8px;
  }

  .enterprise-subtitle {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .enterprise-desc {
    max-width: 323px;
  }
}

/* industry-solutions */

.industry-solutions {
  padding: 100px 0 50px;
}

.industry-solutions-title {
  margin: 0 auto 33px;
}

.industry-solutions-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.industry-solutions-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.industry-solutions-item {
  max-width: 342px;
}

.industry-solutions-item .item-title-wrap {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.industry-solutions-item .item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--icon-bg-eighth-color);
  border-radius: 100px;
}

.industry-solutions-item .list-item-text {
  line-height: 1.75;
}

@media screen and (min-width: 991px) {
  .industry-solutions {
    padding: 294px 0 6px;
  }

  .industry-solutions-title {
    margin: 0 auto 56px;
  }

  .industry-solutions-content-wrap {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  .industry-solutions-list {
    gap: 32px;
  }

  .industry-solutions-item {
    max-width: 543px;
  }

  .industry-solutions-picture {
    flex-shrink: 0;
  }

  .industry-solutions-img {
    width: 528px;
    height: 392px;
  }
}

@media screen and (max-width: 768px) {
  .industry-solutions-title {
    max-width: 342px;
    font-size: 32px;
  }
}
