/* base */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #22343d;
}

ul,
ol {
    list-style-type: none;
}

button {
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-secondary {
    color: #173a56;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #02897a;
}

.btn-primary-light {
    color: #02897a;
    background-color: #fff;
}

.btn-link {
    font-weight: 600;
    text-decoration: underline;
    color: #02897a;
    background-color: unset;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.section-subtitle {
    font-weight: 500;
    text-align: center;
}

.section-title-bg {
    font-weight: 700;
    font-size: 34px;
}

.section-title-accent {
    font-weight: 600;
    font-size: 16px;
}

.list-item-title {
    font-weight: 600;
    font-size: 16px;
}

.list-item-text {
    font-weight: 500;
    text-align: center;
    color: #2f281e;
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.card-subtitle-accent {
    font-weight: 700;
}

.card-desc {
    line-height: 2.5;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}


/* header */
.nav-link {
    line-height: 1.75;
    color: currentColor;
}

.nav-link.current {
    font-weight: 600;
}

.header-item-btn button {
    font-weight: 600;
}

/* footer */
.footer-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

.footer-nav-link {
    line-height: 2.19;
}

.footer-legal-copyright {
    line-height: 1.88;
}


/* section Promo */
.section-promo {
    background-color: #02897a;
}

.section-promo .section-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.51;
    color: #fff;
}

.section-promo .btn {
    font-weight: 600;
    font-size: 20px;
}